# Analysis of Tobacco sales across States in the US
by Group 14 (Zilin Zhang, Jessica Chen, Daniel Jang, Isabel Adelhardt)

## hypothesis
1. sales per year in each state

2. Whether median income per state has an impact to sales

3.

In [3]:
import pandas as pd

In [4]:
# read the entire data set 1
DATA = pd.read_csv("data/U.S._Chronic_Disease_Indicators__Tobacco.csv", low_memory=False)

# sales for each state in years from 2013 to 2019
# filter question
states_sales = DATA[DATA["Question"] == "Sale of cigarette packs"]
# filter columns
states_sales = states_sales[['YearStart', 'LocationAbbr', 'Question', 'DataValueUnit', 'DataValue']]
states_sales = states_sales.groupby(['YearStart', 'LocationAbbr']).sum().reset_index()
# remove states GU, PR, US, VI since they are not actual states.
states_sales = states_sales.loc[states_sales['DataValue'] != 0.0]

states_sales

,YearStart,LocationAbbr,Question,DataValueUnit,DataValue
0,2013,AK,Sale of cigarette packs,pack sales per capita,39
1,2013,AL,Sale of cigarette packs,pack sales per capita,64.6
2,2013,AR,Sale of cigarette packs,pack sales per capita,57.5
3,2013,AZ,Sale of cigarette packs,pack sales per capita,24.4
4,2013,CA,Sale of cigarette packs,pack sales per capita,23.9
...,...,...,...,...,...
325,2019,VT,Sale of cigarette packs,pack sales per capita,31.5
326,2019,WA,Sale of cigarette packs,pack sales per capita,15
327,2019,WI,Sale of cigarette packs,pack sales per capita,35.4
328,2019,WV,Sale of cigarette packs,pack sales per capita,75
329,2019,WY,Sale of cigarette packs,pack sales per capita,49.4

Reading in median income data which is from Source: U.S. Bureau of the Census, Current Population Survey, Annual Social and Economic Supplements. For information on confidentiality protection, sampling error, nonsampling error, and definitions, see <www2.census.gov/programs-surveys/cps/techdocs/cpsmar19.pdf>.






the numbers next to the year indicate a different type of data collection method

In [10]:
median_DATA = pd.read_csv('data/median_income.csv')
median_DATA

,Location,2021 Median income,2021 Standard error,2020 Median income,2020 Standard error,2019 Median income,2019 Standard error,2018 Median income,2018 Standard error,2017(40) Median income,...,2016 Median income,2016 Standard error,2015 Median income,2015 Standard error,2014 Median income,2014 Standard error,2013 (39) Median income,2013 (39) Standard error,2013 (38) Median income,2013 (38) Standard error
0,United States,"70,784",368,"68,010",535,"68,703",550,"63,179",420,"61,136",...,"59,039",436,"56,516",321,"53,657",392,"53,585",654,"51,939",276
1,Alabama,"56,929","2,294","54,689","2,563","56,200","2,512","49,936","2,423","50,865",...,"47,221","2,301","44,509","3,419","42,278","1,529","47,320","5,511","41,381","2,315"
2,Alaska,"81,133","3,967","74,746","3,557","78,394","6,685","68,734","3,390","77,987",...,"75,723","4,086","75,112","3,485","67,629","3,153","72,472","5,446","61,137","3,301"
3,Arizona,"70,821","3,394","67,088","3,409","70,674","3,391","62,283","2,291","59,700",...,"57,100","1,971","52,248","2,008","49,254","2,304","52,611","4,365","50,602","4,831"
4,Arkansas,"50,784","1,440","50,777","1,837","54,539","2,384","49,781","2,108","49,751",...,"45,907","2,165","42,798","1,572","44,922","2,546","39,376","2,402","39,919","2,389"
5,California,"81,575","1,219","77,652","1,437","78,105","1,850","70,489","1,233","70,038",...,"66,637","1,075","63,636","1,711","60,487",894,"60,794","1,811","57,528","1,223"
6,Colorado,"84,954","3,155","83,777","6,019","72,499","5,221","73,034","3,562","74,984",...,"70,566","4,125","66,596","3,682","60,940","2,414","67,912","4,129","63,371","2,800"
7,Connecticut,"80,958","5,261","79,432","3,602","87,291","4,630","72,812","5,119","74,304",...,"75,923","3,404","72,889","4,449","70,161","2,665","69,291","3,238","67,781","2,547"
8,Delaware,"68,687","2,919","70,022","5,283","74,194","3,009","65,012","3,599","64,961",...,"58,046","2,992","57,756","3,392","57,522","2,970","54,091","4,350","52,219","2,486"
9,District of Columbia,"90,640","3,756","88,218","3,511","93,111","3,884","85,750","2,659","81,282",...,"70,982","2,734","70,071","2,861","68,277","4,402","60,057","5,529","60,675","3,082"
10,Florida,"59,734","1,509","57,763","1,814","58,368","1,579","54,644","1,887","53,086",...,"51,176",835,"48,825","1,395","46,140",950,"48,532","2,815","47,886","1,573"
11,Georgia,"61,497","2,266","59,265","2,063","56,628","1,782","55,821","2,032","57,985",...,"53,527","1,679","50,768","1,401","49,555","2,009","46,992","4,236","47,439","1,959"
12,Hawaii,"82,199","3,790","80,825","2,427","88,006","3,565","80,108","3,482","73,599",...,"72,133","2,510","64,514","2,840","71,223","2,676","64,235","3,918","61,408","2,207"
13,Idaho,"76,918","1,837","66,725","1,988","65,988","2,152","58,728","2,405","59,497",...,"56,564","1,261","51,624","1,260","53,438","2,572","48,467","5,484","51,767","3,656"
14,Illinois,"79,253","1,771","74,334","2,227","74,399","2,625","70,145","2,253","65,969",...,"61,386","1,761","60,413","1,999","54,916","1,625","53,937","3,287","57,196","1,744"
15,Indiana,"70,190","2,519","66,805","4,176","66,693","3,112","59,892","1,997","58,767",...,"56,094","2,877","51,983","1,682","48,060","1,943","49,455","4,508","50,553","3,220"
16,Iowa,"72,429","3,508","68,816","3,347","66,054","4,009","68,718","2,910","63,467",...,"59,094","2,484","60,855","3,275","57,810","3,425","60,156","6,134","54,855","1,967"
17,Kansas,"75,979","4,213","73,082","3,632","73,151","4,329","63,938","2,027","56,900",...,"56,810","3,268","54,865","3,731","53,444","2,863","47,820","4,496","51,485","1,498"
18,Kentucky,"55,629","3,025","56,755","2,353","55,662","2,553","54,555","3,668","49,672",...,"45,369","2,005","42,387","2,269","42,786","1,580","44,879","3,924","42,158","1,874"
19,Louisiana,"57,206","2,879","51,186","1,602","51,707","1,412","49,973","1,754","43,565",...,"42,196","1,197","45,922","2,140","42,406","1,862","46,425","2,543","39,622","2,857"
20,Maine,"71,139","3,092","63,693","3,437","66,546","5,002","58,663","5,683","53,316",...,"50,856","3,346","50,756","1,929","51,710","2,171","54,957","3,863","50,121","1,953"
21,Maryland,"97,332","4,492","94,789","4,236","95,572","3,284","86,223","3,331","82,093",...,"73,760","2,591","73,594","2,692","76,165","4,272","69,353","2,970","65,262","4,386"
22,Massachusetts,"86,566","4,099","87,812","6,327","87,707","2,828","86,345","2,785","76,243",...,"72,266","2,911","67,861","2,790","63,151","2,662","62,529","5,303","62,963","3,456"
23,Michigan,"64,488","3,819","64,392","3,191","64,119","1,680","60,449","1,906","56,405",...,"57,091","1,908","54,203","2,005","52,005","1,199","56,567","1,587","48,801","2,229"
24,Minnesota,"80,441","5,050","78,753","3,393","81,426","2,988","71,817","3,656","69,975",...,"70,218","4,045","68,730","3,063","67,244","3,207","64,324","3,992","60,907","1,843"
25,Mississippi,"46,637","1,805","45,134","2,623","44,787","2,997","42,781","2,304","43,281",...,"41,099","1,226","40,037","1,071","35,521","1,294","32,338","2,730","40,850","2,144"
26,Missouri,"63,594","2,710","62,178","2,715","60,597","2,932","61,726","2,442","56,530",...,"55,016","1,719","59,196","2,607","56,630","3,030","46,303","4,134","50,311","3,698"
27,Montana,"64,999","5,000","56,741","2,497","60,195","2,294","57,679","2,876","57,407",...,"57,075","2,880","51,395","2,937","51,102","1,778","43,201","5,946","44,132","3,252"
28,Nebraska,"78,109","3,963","72,248","2,453","73,071","3,259","67,575","3,933","59,583",...,"59,374","2,678","60,474","2,937","56,870","2,254","57,623","4,217","53,774","1,815"
29,Nevada,"64,340","3,500","61,164","2,427","70,906","3,465","61,864","2,116","58,041",...,"55,431","2,137","52,008","2,272","49,875","1,836","51,846","3,178","45,369","2,830"
30,New Hampshire,"88,841","4,818","88,894","3,481","86,900","2,721","81,346","3,394","75,630",...,"76,260","2,913","75,675","3,519","73,397","3,253","69,099","3,967","71,322","3,261"
31,New Jersey,"88,559","4,751","85,549","4,056","87,726","4,069","74,176","2,845","71,240",...,"68,468","2,867","68,357","3,132","65,243","2,693","63,754","4,464","61,782","3,058"
32,New Mexico,"53,463","3,142","50,906","1,719","53,113","2,196","48,283","2,202","45,601",...,"48,451","2,961","45,119","2,885","46,686","3,312","40,166","4,408","42,127","2,670"
33,New York,"72,920","2,771","68,659","2,397","71,855","1,699","67,274","1,722","61,543",...,"61,437","1,405","58,005","2,205","54,310","1,781","49,966","2,267","53,843","1,642"
34,North Carolina,"62,891","2,101","60,430","1,648","61,159","1,649","53,369","1,761","49,547",...,"53,764","1,629","50,797","1,343","46,784","1,710","46,337","2,974","41,208","2,058"
35,North Dakota,"68,882","2,731","64,115","2,341","70,031","3,170","66,505","3,095","60,167",...,"60,184","2,290","57,415","3,233","60,730","3,138","59,152","3,451","52,888","2,863"
36,Ohio,"62,689","2,930","60,379","1,542","64,663","3,011","61,633","2,254","60,688",...,"53,985","1,894","53,301","1,957","49,644","1,393","50,748","2,448","46,398","1,386"
37,Oklahoma,"60,096","3,913","52,471","1,911","59,397","2,357","54,434","2,774","51,882",...,"50,943","1,652","47,077","1,937","47,199","2,775","46,162","3,442","43,777","4,085"
38,Oregon,"81,855","3,071","76,855","3,583","74,413","5,675","69,165","3,655","62,498",...,"59,135","2,622","60,834","2,374","58,875","2,998","48,999","2,887","56,307","2,022"
39,Pennsylvania,"72,627","2,054","70,789","3,413","70,582","3,226","64,524","1,635","61,285",...,"60,979","2,036","60,389","2,227","55,173","2,266","55,156","2,936","53,952","1,606"
40,Rhode Island,"74,982","4,221","80,175","3,382","70,151","4,980","62,266","3,348","65,401",...,"61,528","2,828","55,701","3,247","58,633","4,001","56,323","3,852","57,812","2,135"
41,South Carolina,"62,542","2,161","60,341","1,981","62,028","1,783","57,444","2,082","54,537",...,"54,336","3,153","46,360","2,266","44,929","2,244","43,563","2,388","43,749","2,970"
42,South Dakota,"73,893","2,655","70,189","4,333","64,255","3,776","59,463","2,642","56,914",...,"57,450","3,075","55,065","2,604","53,053","3,542","53,413","2,917","54,453","3,030"
43,Tennessee,"62,166","2,640","54,975","1,804","56,627","2,766","56,060","1,442","55,306",...,"51,344","1,387","47,330","1,708","43,716","2,326","43,361","3,435","42,499","2,934"
44,Texas,"67,404","1,525","68,404","1,938","67,444","1,769","59,785","1,372","60,092",...,"58,146","1,407","56,473","1,289","53,875","1,344","51,406","1,360","53,027","1,613"
45,Utah,"87,649","4,238","83,993","2,880","84,523","3,494","77,067","2,327","69,789",...,"67,481","2,237","66,258","2,462","63,383","3,231","61,047","1,553","62,967","4,137"
46,Vermont,"76,079","3,471","67,257","4,095","74,305","3,084","70,066","2,350","63,682",...,"60,837","1,364","59,494","2,622","60,708","3,098","65,513","4,013","54,842","2,981"
47,Virginia,"80,268","2,953","82,214","3,115","81,313","3,056","77,151","3,086","70,811",...,"66,451","2,436","61,486","2,439","66,155","2,946","65,907","2,740","67,620","2,542"
48,Washington,"87,648","3,307","81,358","3,097","82,454","2,920","79,726","3,025","71,540",...,"70,310","2,092","67,243","3,253","59,068","2,195","63,922","3,386","60,106","2,198"
49,West Virginia,"46,836","2,247","51,970","2,178","53,706","2,995","50,573","1,337","46,957",...,"44,354","1,994","42,824","3,132","39,552","2,195","43,069","3,454","40,241","2,690"
50,Wisconsin,"69,943","3,133","67,405","4,826","67,355","2,323","62,629","2,039","63,482",...,"59,817","1,845","55,425","1,487","58,080","2,154","51,726","2,629","55,258","2,338"
51,Wyoming,"71,052","3,919","65,450","2,206","65,134","3,773","62,539","3,892","59,536",...,"57,829","3,122","60,925","2,024","55,690","2,019","67,441","3,988","55,700","3,168"