# Analysis of Tobacco sales across States in the US
by Group 14 (Zilin Zhang, Jessica Chen, Daniel Jang, Isabel Adelhardt)

## hypothesis: Whether median income per state has an impact to sales
1. sales per year in each state from 2013 - 2019
2. median income in each state per year from 2013 - 2019

2.1 if each state has a +/- difference in median income between years does this relate to the difference in sales

3. regression plots for sales and median income in each state per year

In [1]:
import pandas as pd

## Step 1: sales in each state per year from 2013-2019

In [2]:

sales_DATA = pd.read_csv("data/U.S._Chronic_Disease_Indicators__Tobacco.csv", low_memory=False)

# sales for each state in years from 2013 to 2019
# filter question
states_sales = sales_DATA[sales_DATA["Question"] == "Sale of cigarette packs"]
# filter columns
states_sales = states_sales[['YearStart', 'LocationAbbr', 'Question', 'DataValueUnit', 'DataValue']]
states_sales = states_sales.groupby(['YearStart', 'LocationAbbr']).sum().reset_index()
# remove states GU, PR, US, VI since they are not actual states.
states_sales = states_sales.loc[states_sales['DataValue'] != 0.0]

len(states_sales.LocationAbbr.unique())

51

## Step 2: Median income in each state per year from 2013 - 2019

Reading in median income data which is from Source: U.S. Bureau of the Census, Current Population Survey, Annual Social and Economic Supplements. For information on confidentiality protection, sampling error, nonsampling error, and definitions, see <www2.census.gov/programs-surveys/cps/techdocs/cpsmar19.pdf>.



We are using 2017 Median income instead of 2017(40) because 2017(40) represents data from a new data processing system. The 2017(40) data should be used for analysis of median income after 2017, but our analysis relates mostly to before 2017.

We are using 2013(38) beause 2013(39) represents data from individuals who received new income questions. These new income questions were not used in the following years, so we are disregarding this data.

In [3]:
median_DATA = pd.read_csv('data/median_income.csv')
cols_drop = median_DATA.columns[median_DATA.columns.str.contains("Standard")]
median_income = median_DATA.drop(columns=cols_drop).set_index("Location")

#drop 2017(40) and 2013(39)
median_income = median_income.drop(median_income.columns[[0, 1, 4, 9]], axis = 1)
median_income.head()

us_state_to_abbrev = {
    "Alabama": "AL",
    "Alaska": "AK",
    "Arizona": "AZ",
    "Arkansas": "AR",
    "California": "CA",
    "Colorado": "CO",
    "Connecticut": "CT",
    "District of Columbia": "DC",
    "Delaware": "DE",
    "Florida": "FL",
    "Georgia": "GA",
    "Hawaii": "HI",
    "Idaho": "ID",
    "Illinois": "IL",
    "Indiana": "IN",
    "Iowa": "IA",
    "Kansas": "KS",
    "Kentucky": "KY",
    "Louisiana": "LA",
    "Maine": "ME",
    "Maryland": "MD",
    "Massachusetts": "MA",
    "Michigan": "MI",
    "Minnesota": "MN",
    "Mississippi": "MS",
    "Missouri": "MO",
    "Montana": "MT",
    "Nebraska": "NE",
    "Nevada": "NV",
    "New Hampshire": "NH",
    "New Jersey": "NJ",
    "New Mexico": "NM",
    "New York": "NY",
    "North Carolina": "NC",
    "North Dakota": "ND",
    "Ohio": "OH",
    "Oklahoma": "OK",
    "Oregon": "OR",
    "Pennsylvania": "PA",
    "Rhode Island": "RI",
    "South Carolina": "SC",
    "South Dakota": "SD",
    "Tennessee": "TN",
    "Texas": "TX",
    "Utah": "UT",
    "Vermont": "VT",
    "Virginia": "VA",
    "Washington": "WA",
    "West Virginia": "WV",
    "Wisconsin": "WI",
    "Wyoming": "WY"
}


ddf = median_income.reset_index().copy()

ddf.iloc[:, 1:len(ddf)] = ddf.iloc[:, 1:len(ddf)].replace(',','', regex=True).astype(float)
ddf["avg_med_income"] = ddf.iloc[:, 1:len(ddf)].mean(axis = 1)

#Abbreviate the States for plotly geographical mapping
ddf["state"] =  ddf["Location"]
ddf = ddf.replace({"state": us_state_to_abbrev}).drop(0)
ddf.head()

,Location,2019 Median income,2018 Median income,2017 Median income,2016 Median income,2015 Median income,2014 Median income,2013 (38) Median income,avg_med_income,state
1,Alabama,56200.0,49936.0,51113.0,47221.0,44509.0,42278.0,41381.0,47519.714286,AL
2,Alaska,78394.0,68734.0,72231.0,75723.0,75112.0,67629.0,61137.0,71280.000000,AK
3,Arizona,70674.0,62283.0,61125.0,57100.0,52248.0,49254.0,50602.0,57612.285714,AZ
4,Arkansas,54539.0,49781.0,48829.0,45907.0,42798.0,44922.0,39919.0,46670.714286,AR
5,California,78105.0,70489.0,69759.0,66637.0,63636.0,60487.0,57528.0,66663.000000,CA

- map plot/ bar plot
- sum sales for 7 years/7 = avg sales per year for each state

- map plot
- average median income for each state from 2013 - 2019